@page "/"

@using Microsoft.AspNetCore.Identity

@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider _authenticationStateProvider
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject IServiceProvider _serviceProvider
@inject UserManager<Data.ApplicationUser> _userManager;

<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Du ER logget ind.</h1>

    </Authorized>
    <NotAuthorized>
        <h1>Du er IKKE logget ind.</h1>

    </NotAuthorized>
    <Authorized>
        <h1>Du ER Admin</h1>

    </Authorized>
</AuthorizeView>

@code{
    private bool _isAuthenticated;



    protected override async Task OnInitializedAsync()
    {



        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("/cprnr");
        }
    }
    


}