@page "/"

@using Microsoft.AspNetCore.Identity
@using ServerSideProg.Components.Account
@inject Codes.SymmetriskEncryptionHandler symmetriskEncryptionHandler
@inject Codes.AsymmetriskEncryption asymmetriskEncryption
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject IServiceProvider _serviceProvider
@inject UserManager<Data.ApplicationUser> _userManager;
@inject IdentityRedirectManager _redirectManager;

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]

<PageTitle>Home</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Du ER logget ind.</h1>

    </Authorized>
    <NotAuthorized>
        <h1>Du er IKKE logget ind.</h1>

    </NotAuthorized>
    <Authorized>
        <h1>Du ER Admin</h1>

    </Authorized>
</AuthorizeView>

@code{
    private bool _isAuthenticated;



    protected override async Task OnInitializedAsync()
    {
        // string SymvalueToEncrypt = "Hello World!";
        // string encryptedValue = symmetriskEncryptionHandler.Encrypt(SymvalueToEncrypt);
        // string decryptedValue = symmetriskEncryptionHandler.Decrypt(encryptedValue);

        // string AsymvalueToEncrypt = "Hello World!";
        // string AsymencryptedValue = asymmetriskEncryption.EncryptAsymetrisk(AsymvalueToEncrypt);
        // string AsymdecryptedValue = asymmetriskEncryption.DecryptAsymetrisk(AsymencryptedValue);


        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            await Task.Delay(300);
            _navigationManager.NavigateTo("/CprNr");
        }
    }
    


}